body {
    font-family: sans-serif;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
}

#controls {
    margin-bottom: 20px;
}

#controls select {
    margin-right: 20px;
    padding: 5px;
}

#chart-container {
    width: 100%;
    /*max-width: 800px;*/
}

canvas {
    /*width: 100% !important;
    height: auto !important;*/
    display: block;
}
